<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Provinces of Ireland
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <div>
    <ul>
      <!-- routerLink navigates to the specified route when this element is clicked -->
      <li [routerLink]="['/ulster']" style="cursor: pointer;"> Ulster</li>
      <li [routerLink]="['/munster']" style="cursor: pointer;">Munster</li>
      <li [routerLink]="['/connaught']" style="cursor: pointer;">Connaught</li>
      <li [routerLink]="['/leinster']" style="cursor: pointer;">Leinster</li>
    </ul>
  </div>


</ion-content>
